<div class="container-fluid room">
  <h4 class="pb-4">検索結果:<%= @results.count %>件</h4>
  <table>
     <thead>
       <tr algin="center">
         <th>ルーム画像</th>
         <th>ルーム名</th>
         <th>ルーム紹介</th>
         <th>料金</th>
         <th>作成日</th>
       </tr>
     </thead>
  </table>
</div>