ul {
    list-style: none;
}

header {
    display: block;
}



.header-left-nav form {
    display: inline-block;
}

.d-none{
    display: none!important;
}

.p-1 {
    padding: 0.25rem!important;
}





