// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.room-show-image .reservations-image {
    width: 100%;
    object-fit: cover;
}

.room-show-detile {
    display: flex;
    align-items: center;
}

.room-show-detile-icon {
    padding: 10px;
}

.room-show-profile {
    padding: 15px;
}

.room-show-profile-name {
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0;
}

.room-show-profile-address {
    font-size: 14px;
}

.room-show-detile-content {
    font-size: 16px;
    line-height: 30px;
    padding: 30px 10px;
    border-top: 1px solid #eaedef;
    border-bottom: 1px solid #eaedef;
    word-break: break-all;
}

.room-show-nav {
    padding: 20px;
    border: 1px solid #eaedef;
}

.h5, h5 {
    font-size: 1.25rem;
}

.room-show-date-select {
    padding: 15px 0;
}