// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.pd-4 {
    padding-bottom: 1.5rem!important;
}

.h4, h4 {
    font-size: 1.5rem;
}

.room-posts {
    width: 100%;
    padding: 30px 60px;
    border-top: 1px solid #eaedef;
    border-bottom: 1px solid #eaedef;
    min-width: 800px;
    padding: 8px 15px;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.room-posts a {
    color: #4a90e2;
    text-decoration: underline;
}

.room-posts-image {
    width: 240px;
    height: 140px;
    object-fit: cover;
}

.room-posts .posts-name {
    font-size: 18px;
    font-weight: bold;
    color: #909090;
}

.room-posts .posts-content {
    max-width: 400px;
}

.room-register {
    width: 100%;
    border-top: 1px solid #eaedef;
    border-bottom: 1px solid #eaedef;
    min-width: 800px;
    font-size: 14px;
    letter-spacing: 1px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.room-register-image {
    width: 240px;
    height: 140px;
    object-fit: cover;
}

.room-register .register-text{
    font-size: 18px;
    font-weight: bold;
    color: #909090;
    max-width: 400px;
    display: flex;
    padding: 16px 0.5rem!important;
}


.room-box {
    margin:0 50px 50px 0;
}

.room-show-image {
    width: 100%;
    object-fit: cover;
}

.room-show {
    padding: 30px 0;
}

.room-show-detile {
    display: flex;
    align-items: center;
}

.room-show-detile-icon {
    padding: 10px;
}

.room-show-detile-content {
    font-size: 16px;
    line-height: 30px;
    padding: 30px 10px;
    border-top: 1px solid #eaedef;
    border-bottom: 1px solid #eaedef;
    word-break: break-all;
}

.room-show-profile-name {
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0;
}

.room-show-profile {
    padding: 15px;
}

.room-show-profile-address {
    font-size: 14px;
}

.room-show-nav {
    padding: 20px;
    border: 1px solid #eaedef;
}

.room-show-date-select {
    padding: 15px 0;
}

.room-new {
    width: 100%;
}

.room-new .room-nav {
    width: 100%;
    box-sizing: border-box;
    padding: 30px 15px;
}

.room-new .room-nav-pc {
    height: 100vh;
}

.room-new .room-nav-pc .active {
    border-right: 3px solid #4a90e2
}

.room-new .room-nav li {
    font-size: 18px;
    padding: 10px;
}

.room-new .room-nav-mobile {
    height: auto;
}

.room-new .room-nav-mobile .active {
    border-bottom: 3px solid #4a90e2;
}

.room-new .room-nav-mobile li {
    float: left;
}

.room-new .room-nav li {
    font-size: 18px;
    padding: 10px;
}

.room-new .room-view {
    border-color: #F6F8F9;
    border-left: 2px solid #e2e2e2;
}

.room-new .room-view-box {
    max-width: 880px;
    background-color: #fff;
    border: 1px solid #eaedef;
    margin: 50px auto;
}

.room-new .update-content {
    border-bottom: 1px solid #eaedef;
    padding: 20px;
    margin: 0 15px;
    font-size: 16px;
}

.room-new .update-content label {
    font-weight: bold;
}

.room-image {
    aspect-ratio: 16/9;
    border-radius: 26px 26px 0 0;
    object-fit: cover;
    width: 100%;
}

.room {
    margin-bottom: 260px;
    padding-top: 40px;
}

.pd-4{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 24px;
}

