// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.device {
    padding-top: 36px;
    font-size: 16px;
}

.device_frame {
    max-width: 600px;
    text-align: center;
    padding: 24px;
    margin: 0px auto;
    background-color: white;
    border-radius: 4px;
}

.device p {
    font-size: 16px;
}

.my-4 {
    margin-bottom: 1.5rem!important;   
    margin-top: 1.5rem!important;
}

.device_inner {
    width: 360px;
    margin: 0px auto;
}

div.field, div.actions {
    margin-bottom: 10px;
}

.required-b::before {
    content: "必須";
    color: #fff;
    background-color: #ff0000a8;
    font-size: 12px;
    border-radius: 5px;
    padding: 4px;
    margin: 0 5px;
}

.user {
    width: 100%;
}

.user .user-view-box {
    max-width: 880px;
    background-color: #fff;
    border: 1px solid #eaedef;
    margin: 30px auto;
}

.user .update-content {
    border-bottom: 1px solid #eaedef;
    padding: 20px;
    margin: 0 15px;
    font-size: 16px;
}

.user-name {
    font-size: 20px;
}

.profile-image {
    writing-mode: horizontal-tb
}

.user-introduction {
    font-size: 20px;
}
