// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.device {
    padding-top: 36px;
    font-size: 16px;
}

.device_frame {
    max-width: 600px;
    text-align: center;
    padding: 24px;
    margin: 0px auto;
    background-color: white;
    border-radius: 4px;
}

.device p {
    font-size: 16px;
}

.my-4 {
    margin-bottom: 1.5rem!important;   
    margin-top: 1.5rem!important;
}

.device_inner {
    width: 360px;
    margin: 0px auto;
}

div.field, div.actions {
    margin-bottom: 10px;
}

.required-b::before {
    content: "必須";
    color: #fff;
    background-color: #ff0000a8;
    font-size: 12px;
    border-radius: 5px;
    padding: 4px;
    margin: 0 5px;
}
